TEAM_ID=0
TEAM_API_KEY=your_key
REGOLO_API_KEY=your_key

# Datapizza monitoring
DATAPIZZA_MONITORING_API_KEY=your_key
DATAPIZZA_MONITORING_PROJECT_ID=your_project_id
DATAPIZZA_MONITORING_OTLP_ENDPOINT=https://datapizza-monitoring.datapizza.tech/gateway/v1/traces
